:root {
  --color-primary: #cfba93;
  --color--secondary: #202a44;
  --color-background: #f0efef;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  color: var(--color--secondary);
  background: var(--color-background);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
}
.center {
  text-align: center;
}

/* Navigation Bar */
.nav {
  background: var(--color--secondary);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
}
.nav__list {
  width: 100%;
  margin: 0;
}
.nav__item {
  padding: 0.5rem 1rem 1rem;
  font-size: 2.3rem;
}
.nav__item > a {
  color: #fff;
  transition: color 0.3s;
}
.nav__item > a:hover {
  color: var(--color--secondary);
}
.nav__toggler {
  transition: box-shadow 0.15s;
  cursor: pointer;
}
.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  opacity: 0.5;
  border-radius: 5px;
}
.nav__brand {
  transform: translateY(5px);
}
.nav__heading {
  color: white;
  padding-left: 1rem;
  margin-bottom: 1rem;
  font-size: 3rem;
  font-weight: 600;
}
.nav__photo:active,
.nav__photo:focus,
.nav__photo:active {
  background-image: none;
  outline: 0;
  box-shadow: none;
}
@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }

  .nav__list {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: auto;
    display: flex;
    font-size: 1.6rem;
    max-height: 100%;
    opacity: 1;
  }
  .nav__item {
    border: 0;
    padding-right: 2.5rem;
  }
}
/* Navigation Bar extras */
.list {
  list-style: none;
  padding-left: 0;
}
.icon {
  width: 30px;
  height: 30px;
}

.icon--white {
  fill: white;
}

/* Collapsibles */

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}
.collapsible__chevor {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}
.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}
.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .collapsible__content {
    max-height: 100vh;
    opacity: 1;
  }
}
/* Showcase */
.showcase-hero-heading {
  text-align: center;
}
.showcase--flex {
  display: flex;
  flex-direction: column;
}
.showcase--div {
  display: flex;
  justify-content: center;
  margin: 2rem 2rem;
}
.showcase--shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.showcase {
  color: black;
  background: #d9d9d9;
  width: 100%;
}
.showcase:hover {
  cursor: pointer;
}
.showcase--img {
  overflow-y: hidden;
  width: 100%;
  max-height: fit-content;
}
.yacht--name {
  padding-left: 1rem;
  font-size: 3rem;
}
.yacht--details {
  font-size: 1.5rem;
  padding: 0.5rem 0 0 1rem;
}
.yacht--price {
  text-align: right;
  font-size: 2rem;
  padding: 0.5rem 1rem .5rem 0;
}

@media screen and (min-width: 768px) {
  .showcase--div {
    margin: 2rem 3rem;
  }
  .yacht--name {
    font-size: 3.5rem;
  }
  .yacht--details {
    font-size: 2rem;
  }
  .yacht--price {
    font-size: 2.5rem;
  }
}
/* About Page */
.about--heading {
  font-size: 3rem;
  padding: 2rem 0 1rem 2rem;
  margin-top: 0;
}
.about--subheading {
  font-size: 2.4rem;
  padding-left: 2rem;
  margin-bottom: 1rem;
}
.about--text {
  font-size: 1.7rem;
  padding-left: 2rem;
  margin-bottom: 4rem;
}

/* Hero */
.main-hero-content {
  text-align: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 75%,
    rgba(240, 239, 239, 1) 99%
  );
}
.main-hero-heading {
  font-size: 5rem;
  color: var(--color--secondary);
  margin: 0;
  padding: 5rem 0.5rem 0 0.5rem;
}
.main-hero-text {
  padding: 2rem 1rem 4rem 1rem;
  font-size: 2.3rem;
}
.button {
  font-size: 3rem;
  margin: 4rem 4rem 1rem 4rem;
  padding: 1rem 3.5rem;
  background-color: var(--color--secondary);
  border: none;
  border-radius: 30px;
  color: white;
  cursor: pointer;
}
.location--margin{
  margin-bottom: 4rem;
}
.showcase-hero-heading {
  font-size: 4rem;
  padding: 6rem 6rem 3rem 6rem;
  margin: 0 0 1rem 0;
  color: var(--color--secondary);
}
/* Main Page */
.main-page-block {
  text-align: center;
}
.image {
  max-width: 100%;
  overflow-y: hidden;
  max-height: fit-content;
}
.margin {
  margin-top: 5rem;
}
.main-page-heading {
  font-size: 3.5rem;
  padding: 5rem;
}
.main-page-subheading {
  font-size: 3rem;
  padding: 4rem 0 3.5rem 0;
}
.main-page-text {
  font-size: 2.3rem;
  padding: 0 1rem 4rem 1rem;
}
.main-button {
  border: 4px solid var(--color--secondary);
  background: var(--color-background);
  color: var(--color--secondary);
}
@media screen and (min-width: 768px) {
  .image {
    padding: 0rem 4.5rem;
  }
}

/* Feature Page */
.feature-main {
  text-align: center;
  margin-top: 2rem;
}
.feature-main-flex {
  display: flex;
  flex-direction: column;
}
.feature-main-heading {
  font-size: 4rem;
  padding: 3rem 5rem 5rem 5rem;
  margin-bottom: 3rem;
}
.feature-main-icon {
  font-size: 7rem;
}
.feature-main-text {
  font-size: 3rem;
  padding: 1rem;
  margin-bottom: 7rem;
}
.feature-last-text {
  margin-bottom: 4rem;
}
.button-feature {
  font-size: 3.3rem;
}
@media screen and (min-width: 768px) {
  .feature-main-flex {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .feature-main-icon {
    font-size: 5rem;
  }
  .feature-main-text {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .feature-main-content {
    margin: 2rem;
  }

  .feature-main-heading {
    margin-bottom: 1rem;
  }
}
/* Bases section */
.base-main {
  text-align: center;
}
.base-main-heading {
  font-size: 4rem;
  padding: 4rem;
}
.base-main-image {
  width: 100%;
  border: 1rem;
  opacity: 0.55;
  z-index: -1;
}
.base-main-container {
  position: relative;
  text-align: center;
  margin: 2rem;
}
.base-main-text {
  font-size: 4rem;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
}
.base-main-grid {
  display: grid;
}
@media screen and (min-width: 768px) {
  .base-main-grid {
    grid-template-columns: 1fr 1fr;
  }
  .outside-grid-image {
    width: 45%;
    margin: auto;
  }
}

/* Footer */
.footer {
  text-align: center;
  background: var(--color--secondary);
  color: white;
  padding-top: 0.5rem;
  margin-top: 4rem;
}
.logo{
  width: 12rem;
  margin-top: 2rem;
}

.footer--header {
  font-size: 2rem;
  padding-top: 2.5rem;
  padding-bottom: 0.3rem;
}
.footer--li {
  font-size: 1.5rem;
  color: #a4a4a4;
  padding-bottom: 0.3rem;
  list-style-type: none;
}
.contact--info {
  font-size: 1.3rem;
  color: #a4a4a4;
  padding-bottom: 0.3rem;
}
.footer--copyright {
  padding: 2rem 0 1rem 0;
  font-size: 1rem;
}
.footer--flex {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer--flex {
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
  }
  .footer--heading {
    font-size: 3.5rem;
  }
  .footer--header {
    font-size: 2.5rem;
  }
  .footer--li {
    font-size: 2rem;
  }
  .contact--numbers {
    font-size: 1.8rem;
  }
  .logo{
    width: 7rem;
  }
}

/* Privacy Page */
.privacy-page {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 75%,
    rgba(240, 239, 239, 1) 99%
  );
}
.privacy-container {
  padding: 2rem 5rem 2rem 5rem;
  line-height: 2.2rem;
}
.privacy-heading {
  font-size: 3rem;
}
.privacy-subheading {
  font-size: 2.5rem;
  margin: 3rem 0 1.5rem 0;
}
.privacy-text {
  font-size: 1.5rem;
}
.paragraph {
  margin-top: 1rem;
}
.privacy-padding {
  padding-left: 3rem;
}
.privacy-list-heading {
  font-size: 1.8rem;
  padding: 1rem 0rem;
}
.privacy-list {
  padding-bottom: 1rem;
}
/* Locations */
.location-heading {
  font-size: 4.7rem;
  text-align: center;
  padding-top: 4rem;
  height: 100%;
}
.location-subheading {
  font-size: 4rem;
  text-align: center;
  padding: 5rem;
}
.location-title {
  font-size: 2.5rem;
  padding: 2rem 0rem 1rem 0rem;
  text-align: center;
}
.location-text {
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
  line-height: 3rem;
}
.location-image {
  width: 100%;
}
.location-list-heading {
  text-align: center;
  font-size: 2.5rem;
  padding: 2rem;
}
.location-ul {
  padding-bottom: 4rem;
  border-bottom: 2px solid lightgray;
}
.location-list {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 1rem;
  list-style-type: none;
}
@media screen and (min-width: 768px) {
  .location {
    padding: 0rem 5rem;
  }
}
/* Contact Page */
.contact--flex {
  display: flex;
  flex-direction: column;
}
.contact {
  text-align: center;
}
.contact i {
  font-size: 5rem;
  padding-bottom: 1rem;
}
.contact-heading {
  font-size: 5rem;
  text-align: center;
}
.contact--content {
  font-size: 3rem;
  margin-bottom: 4rem;
}
.contact-content-text {
  padding: 1rem 0 2rem 0;
}
.contact-padding {
  padding-top: 1rem;
}
.contact--text {
  text-align: center;
  font-size: 3rem;
  line-height: 3.5rem;
}
.email-small{
  font-size: 2rem;
}
.yacht--owner {
  padding: 0rem 3rem 3rem 3rem;
}
.get-a-quote {
  padding: 0rem 3rem 1rem 3rem;
}
.underline {
  text-decoration: underline;
}
/* Yacht Details Page */
.yacht--page {
  text-align: center;
}
.yacht--subheading {
  text-align: center;
  font-size: 3rem;
  padding: 3rem 0rem 1rem 2rem;
}
.yacht--pdf {
  width: 100%;
  height: 100vh;
}
.yacht--video {
  padding-top: 2rem;
  height: 40rem;
  width: 67.1rem;
  border: none;
}
.call-to-action {
  text-align: center;
}

.yacht--list {
  list-style-type: none;
  padding-bottom: 3rem;
}
.yacht--list-components {
  font-size: 1.5rem;
  text-align: center;
  line-height: 2rem;
}
.yacht--images {
  padding: 2rem;
}
.yacht--flex {
  display: flex;
  flex-direction: column;
}
.gallery {
  padding-top: 1rem;
}
.button-margin {
  margin-bottom: 4rem;
}
.yacht--price-alone {
  font-size: 4rem;
  padding-top: 2rem;
  margin-bottom: 3.5rem;
}
.yacht--list-price{
  font-size: 2rem;
  margin-bottom: 4rem;
}
@media screen and (min-width: 768px) {
  .yacht--flex {
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
  }
}
